<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= movie.title %> - GOJO Films</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="green-theme">
  <header>
    <h1><a href="/">GOJO Films</a></h1>
  </header>
  <main>
    <h2><%= movie.title %> (<%= movie.year %>)</h2>
    <img src="<%= movie.poster_url || '/images/placeholder.png' %>" alt="<%= movie.title %>">
    <p><%= movie.description %></p>
    <% if(movie.drive_id){ %>
      <a href="https://drive.google.com/file/d/<%= movie.drive_id %>/view" target="_blank">Watch / Download</a>
    <% } %>
    <% if(movie.trailer_url){ %>
      <a href="<%= movie.trailer_url %>" target="_blank">Trailer</a>
    <% } %>
  </main>
</body>
</html>
